body {
  font-family: Roboto;
}

header {
  text-align: center;
}

h1 {
  font-size: 3em;
}

.highlight {
  border: 5px solid red;
}

button {
  margin: auto;
  width: 99px;
  height: 66px;
  font-size: 2em;
  display: block;
}

#photo1, #photo2 {
  display: inline-block;
  /*width: 250px;*/
  margin: auto;
  border: 2px solid black;
  border-radius: 2px;
}

#photos {
  width: 90%;
  margin: auto;
  text-align: center;
}

canvas {
 /* margin: auto;*/
}

